In [133]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyClassifier, DummyRegressor
import numpy as np

In [2]:
df = pd.read_csv('../data/bigml_59c28831336c6604c800002a.csv')
df

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

We want to know the features that impact the the customer churn rate most. We think the phone number and area code are not the is not

In [135]:
df = df.drop(columns = ['phone number', 'area code'])

In [136]:
df['average_night_rate_by_min'] = df['total night charge'] / df['total night minutes']

In [137]:
df['average_day_rate_by_min'] = df['total day charge'] / df['total day minutes']

In [138]:
df['average_intl_rate_by_min'] = df['total intl charge'] / df['total intl minutes']

In [139]:
df['average_eve_rate_by_min'] = df['total eve charge'] / df['total eve minutes']

In [140]:
df['total_minutes'] = df['total night minutes'] + df['total day minutes'] + df['total intl minutes'] + df['total eve minutes']

In [141]:
df.dropna(axis=0, inplace=True)

In [142]:
X = df.drop('churn', axis=1)
y = df['churn']

In [143]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [144]:
X_train

,state,account length,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,...,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,average_night_rate_by_min,average_day_rate_by_min,average_intl_rate_by_min,average_eve_rate_by_min,total_minutes
228,VA,104,no,yes,23,280.2,136,47.63,220.5,92,...,6.16,13.3,3,3.59,4,0.044996,0.169986,0.269925,0.084989,650.9
367,MD,45,no,no,0,78.2,127,13.29,253.4,108,...,11.48,18.0,3,4.86,1,0.045020,0.169949,0.270000,0.085004,604.6
872,OK,149,no,yes,43,206.7,79,35.14,174.6,122,...,10.87,10.9,3,2.94,1,0.045010,0.170005,0.269725,0.084994,633.7
1266,IA,42,no,no,0,155.4,127,26.42,164.1,45,...,7.10,9.0,3,2.43,0,0.045022,0.170013,0.270000,0.085009,486.2
277,SD,144,no,yes,48,189.8,96,32.27,123.4,67,...,9.64,6.5,2,1.76,2,0.045005,0.170021,0.270769,0.085008,533.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1103,KS,52,no,no,0,165.5,78,28.14,205.5,89,...,9.61,12.2,6,3.29,0,0.044991,0.170030,0.269672,0.085012,596.8
1138,MA,46,no,no,0,139.4,81,23.70,223.7,113,...,7.79,13.6,6,3.67,1,0.045003,0.170014,0.269853,0.084980,549.8
1302,WA,171,no,no,0,270.5,69,45.99,230.0,112,...,6.12,9.6,5,2.59,1,0.045000,0.170018,0.269792,0.085000,646.1
865,MD,52,no,no,0,209.8,114,35.67,171.3,82,...,6.96,9.9,9,2.67,4,0.045019,0.170019,0.269697,0.084997,545.6
3193,IA,88,no,no,0,113.7,67,19.33,165.1,127,...,6.37,10.8,3,2.92,1,0.045018,0.170009,0.270370,0.084979,431.1

In [145]:
y_train.value_counts()

False    2116
True      368
Name: churn, dtype: int64

In [146]:
test_state_cat = X_test['state']

In [147]:
train_plan_ord = X_train[['international plan', 'voice mail plan']]

In [148]:
test_plan_ord = X_test[['international plan', 'voice mail plan']]

In [149]:
X_train

,state,account length,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,...,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,average_night_rate_by_min,average_day_rate_by_min,average_intl_rate_by_min,average_eve_rate_by_min,total_minutes
228,VA,104,no,yes,23,280.2,136,47.63,220.5,92,...,6.16,13.3,3,3.59,4,0.044996,0.169986,0.269925,0.084989,650.9
367,MD,45,no,no,0,78.2,127,13.29,253.4,108,...,11.48,18.0,3,4.86,1,0.045020,0.169949,0.270000,0.085004,604.6
872,OK,149,no,yes,43,206.7,79,35.14,174.6,122,...,10.87,10.9,3,2.94,1,0.045010,0.170005,0.269725,0.084994,633.7
1266,IA,42,no,no,0,155.4,127,26.42,164.1,45,...,7.10,9.0,3,2.43,0,0.045022,0.170013,0.270000,0.085009,486.2
277,SD,144,no,yes,48,189.8,96,32.27,123.4,67,...,9.64,6.5,2,1.76,2,0.045005,0.170021,0.270769,0.085008,533.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1103,KS,52,no,no,0,165.5,78,28.14,205.5,89,...,9.61,12.2,6,3.29,0,0.044991,0.170030,0.269672,0.085012,596.8
1138,MA,46,no,no,0,139.4,81,23.70,223.7,113,...,7.79,13.6,6,3.67,1,0.045003,0.170014,0.269853,0.084980,549.8
1302,WA,171,no,no,0,270.5,69,45.99,230.0,112,...,6.12,9.6,5,2.59,1,0.045000,0.170018,0.269792,0.085000,646.1
865,MD,52,no,no,0,209.8,114,35.67,171.3,82,...,6.96,9.9,9,2.67,4,0.045019,0.170019,0.269697,0.084997,545.6
3193,IA,88,no,no,0,113.7,67,19.33,165.1,127,...,6.37,10.8,3,2.92,1,0.045018,0.170009,0.270370,0.084979,431.1

In [150]:
training_data = pd.concat([X_train, y_train], axis=1)
testing_data = pd.concat([X_test, y_test], axis=1)

In [20]:
#training_data
training_data.to_csv('training_data2.csv')

In [22]:
# testing_data
testing_data.to_csv('testing_data2.csv')

In [152]:
X_train

,state,account length,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,...,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,average_night_rate_by_min,average_day_rate_by_min,average_intl_rate_by_min,average_eve_rate_by_min,total_minutes
228,VA,104,no,yes,23,280.2,136,47.63,220.5,92,...,6.16,13.3,3,3.59,4,0.044996,0.169986,0.269925,0.084989,650.9
367,MD,45,no,no,0,78.2,127,13.29,253.4,108,...,11.48,18.0,3,4.86,1,0.045020,0.169949,0.270000,0.085004,604.6
872,OK,149,no,yes,43,206.7,79,35.14,174.6,122,...,10.87,10.9,3,2.94,1,0.045010,0.170005,0.269725,0.084994,633.7
1266,IA,42,no,no,0,155.4,127,26.42,164.1,45,...,7.10,9.0,3,2.43,0,0.045022,0.170013,0.270000,0.085009,486.2
277,SD,144,no,yes,48,189.8,96,32.27,123.4,67,...,9.64,6.5,2,1.76,2,0.045005,0.170021,0.270769,0.085008,533.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1103,KS,52,no,no,0,165.5,78,28.14,205.5,89,...,9.61,12.2,6,3.29,0,0.044991,0.170030,0.269672,0.085012,596.8
1138,MA,46,no,no,0,139.4,81,23.70,223.7,113,...,7.79,13.6,6,3.67,1,0.045003,0.170014,0.269853,0.084980,549.8
1302,WA,171,no,no,0,270.5,69,45.99,230.0,112,...,6.12,9.6,5,2.59,1,0.045000,0.170018,0.269792,0.085000,646.1
865,MD,52,no,no,0,209.8,114,35.67,171.3,82,...,6.96,9.9,9,2.67,4,0.045019,0.170019,0.269697,0.084997,545.6
3193,IA,88,no,no,0,113.7,67,19.33,165.1,127,...,6.37,10.8,3,2.92,1,0.045018,0.170009,0.270370,0.084979,431.1

In [153]:
training_data

,state,account length,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,...,total intl minutes,total intl calls,total intl charge,customer service calls,average_night_rate_by_min,average_day_rate_by_min,average_intl_rate_by_min,average_eve_rate_by_min,total_minutes,churn
228,VA,104,no,yes,23,280.2,136,47.63,220.5,92,...,13.3,3,3.59,4,0.044996,0.169986,0.269925,0.084989,650.9,False
367,MD,45,no,no,0,78.2,127,13.29,253.4,108,...,18.0,3,4.86,1,0.045020,0.169949,0.270000,0.085004,604.6,False
872,OK,149,no,yes,43,206.7,79,35.14,174.6,122,...,10.9,3,2.94,1,0.045010,0.170005,0.269725,0.084994,633.7,False
1266,IA,42,no,no,0,155.4,127,26.42,164.1,45,...,9.0,3,2.43,0,0.045022,0.170013,0.270000,0.085009,486.2,False
277,SD,144,no,yes,48,189.8,96,32.27,123.4,67,...,6.5,2,1.76,2,0.045005,0.170021,0.270769,0.085008,533.9,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1103,KS,52,no,no,0,165.5,78,28.14,205.5,89,...,12.2,6,3.29,0,0.044991,0.170030,0.269672,0.085012,596.8,False
1138,MA,46,no,no,0,139.4,81,23.70,223.7,113,...,13.6,6,3.67,1,0.045003,0.170014,0.269853,0.084980,549.8,False
1302,WA,171,no,no,0,270.5,69,45.99,230.0,112,...,9.6,5,2.59,1,0.045000,0.170018,0.269792,0.085000,646.1,True
865,MD,52,no,no,0,209.8,114,35.67,171.3,82,...,9.9,9,2.67,4,0.045019,0.170019,0.269697,0.084997,545.6,False
3193,IA,88,no,no,0,113.7,67,19.33,165.1,127,...,10.8,3,2.92,1,0.045018,0.170009,0.270370,0.084979,431.1,False

## Churn rates for int plan, voice mail plan, customer service calls, total minutes

In [154]:
intplan_yes = training_data.loc[training_data['international plan'] =='yes']

In [155]:
intplan_yes['churn'].value_counts()

False    137
True      99
Name: churn, dtype: int64

In [156]:
intplan_no = training_data.loc[training_data['international plan'] =='no']
intplan_no

,state,account length,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,...,total intl minutes,total intl calls,total intl charge,customer service calls,average_night_rate_by_min,average_day_rate_by_min,average_intl_rate_by_min,average_eve_rate_by_min,total_minutes,churn
228,VA,104,no,yes,23,280.2,136,47.63,220.5,92,...,13.3,3,3.59,4,0.044996,0.169986,0.269925,0.084989,650.9,False
367,MD,45,no,no,0,78.2,127,13.29,253.4,108,...,18.0,3,4.86,1,0.045020,0.169949,0.270000,0.085004,604.6,False
872,OK,149,no,yes,43,206.7,79,35.14,174.6,122,...,10.9,3,2.94,1,0.045010,0.170005,0.269725,0.084994,633.7,False
1266,IA,42,no,no,0,155.4,127,26.42,164.1,45,...,9.0,3,2.43,0,0.045022,0.170013,0.270000,0.085009,486.2,False
277,SD,144,no,yes,48,189.8,96,32.27,123.4,67,...,6.5,2,1.76,2,0.045005,0.170021,0.270769,0.085008,533.9,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1103,KS,52,no,no,0,165.5,78,28.14,205.5,89,...,12.2,6,3.29,0,0.044991,0.170030,0.269672,0.085012,596.8,False
1138,MA,46,no,no,0,139.4,81,23.70,223.7,113,...,13.6,6,3.67,1,0.045003,0.170014,0.269853,0.084980,549.8,False
1302,WA,171,no,no,0,270.5,69,45.99,230.0,112,...,9.6,5,2.59,1,0.045000,0.170018,0.269792,0.085000,646.1,True
865,MD,52,no,no,0,209.8,114,35.67,171.3,82,...,9.9,9,2.67,4,0.045019,0.170019,0.269697,0.084997,545.6,False
3193,IA,88,no,no,0,113.7,67,19.33,165.1,127,...,10.8,3,2.92,1,0.045018,0.170009,0.270370,0.084979,431.1,False

In [157]:
intplan_no['churn'].value_counts()

False    1979
True      269
Name: churn, dtype: int64

In [158]:
voicemailplan_yes = training_data.loc[training_data['voice mail plan'] =='yes']

In [159]:
voicemailplan_yes.loc[voicemailplan_yes['churn'] =='True']

Empty DataFrame
Columns: [state, account length, international plan, voice mail plan, number vmail messages, total day minutes, total day calls, total day charge, total eve minutes, total eve calls, total eve charge, total night minutes, total night calls, total night charge, total intl minutes, total intl calls, total intl charge, customer service calls, average_night_rate_by_min, average_day_rate_by_min, average_intl_rate_by_min, average_eve_rate_by_min, total_minutes, churn]
Index: []

[0 rows x 24 columns]

In [160]:
voicemailplan_yes['churn'].value_counts()

False    626
True      61
Name: churn, dtype: int64

In [161]:
customerserv_ = training_data.loc[training_data['customer service calls'] > 1]

In [162]:
customerserv_['churn'].value_counts()

False    894
True     201
Name: churn, dtype: int64

In [163]:
training_data['total_minutes'].describe()

count    2484.000000
mean      591.556441
std        90.381246
min       284.300000
25%       530.675000
50%       593.150000
75%       652.100000
max       885.000000
Name: total_minutes, dtype: float64

In [164]:
#used the mean total minutes

In [165]:
totalminutes_ = training_data.loc[training_data['total_minutes'] > 591.556441]

In [166]:
totalminutes_['churn'].value_counts()

False    1032
True      230
Name: churn, dtype: int64

In [ ]:
fig, ax = plt.subplots(figsize=(10,10))
ax.boxplot(df_feat_imp.index[0:10], sort_desc_rfc_feat_imp[0:10])

plt.xticks(rotation=45)
plt.title('Importance by Feature')
plt.xlabel('Feature')
plt.ylabel('Importance Level');